<html lang="en">
<head>
   <%- include("./partials/head.ejs") %>
  
      <style>
        body{
     background-image: url('/assets/img/departments-1.jpg');
     /* padding:1rem; */
     background-repeat: no-repeat;
     height:940px;
     background-size: cover;
     overflow-x: hidden;
     overflow-y: hidden;
  }

  .predict{

    width:550px;
    height:60;
    background-color: rgb(231, 231, 74);
    border-radius:5px;
    border-width: 1px;
    border-style: double;
    border-color: rgb(0, 145, 255);
    text-align: center;
    padding-top: 2px;
  }
.gradient-custom {
 
  background-color: #58c1f1;
  background: -webkit-linear-gradient(to bottom right, rgb(71, 151, 197), rgb(81, 135, 235));
  background: linear-gradient(to bottom right, rgb(86, 122, 219), rgb(63, 179, 214));

}

.custom-btn{
    box-shadow: 0 2px 2px 0 rgb(9, 97, 228), 0 2px 10px 0 rgb(117, 8, 233)!important;
  }
  .custom-btn:hover{
    background-color: #3234a8;;
    color: white;
  }

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  
}
.card-registration .select-arrow {
  top: 13px;
  
}
a.button:hover{
     background: rgb(212, 55, 37);
}
      </style>

    <script type="text/javascript">
        function showDiv(toggle){
        document.getElementById(toggle).style.display = 'block';
    }
 </script> 
  </head>

<body>
<br><br><br>
    <div class="container py-5 h-50">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
              <div class="card-body p-4 p-md-5">
                  
                <h3 class="mb-2 pb-1 pb-md-0 mb-md-2">Tuberculosis</h3>
                <h5 class="mb-4 pb-2 pb-md-0 mb-md-5">Please select your symptoms</h5>
                <form  method="post" action="/predict_tuberculosis">
    
                  <div class="row">
                   
                    
                    <div class="col-md-5 mb-4">
    
                      <h6 class="mb-2 pb-1">Symptoms: </h6>
    
                      <div class="form-check form-check-inline">
                        <input
                          
                          class="form-check-input"
                          type="checkbox"
                          name="LackOfAppetite"
                          id="LackOfAppetite"
                          value="LackOfAppetite"
                          <% if(typeof selection != 'undefined') { %>
                            disabled="true"
                          <% } %>
                          <% if(typeof symptoms != 'undefined') { %>
                            disabled="true"
                            <% if(typeof symptoms.LackOfAppetite != 'undefined') { %>
                                checked="true"
                            <% } %>
                          <% } %>
                          
                        />
                        <label class="form-check-label" for="LackOfAppetite">Lack of Appetite</label>
                      </div>
                      <br>
                      <div class="form-check form-check-inline">
                        <input
                        class="form-check-input"
                        type="checkbox"
                        name="WeightLoss"
                        id="WeightLoss"
                        value="WeightLoss"
                        <% if(typeof selection != 'undefined') { %>
                            disabled="true"
                          <% } %>
                        <% if(typeof symptoms != 'undefined') { %>
                            disabled="true"
                            <% if(typeof symptoms.WeightLoss != 'undefined') { %>
                                checked="true"
                            <% } %>
                          <% } %>  
                        />
                        <label class="form-check-label" for="WeightLoss">Weight Loss</label>
                      </div>
    
                      <div class="form-check form-check-inline">
                        <input
                        class="form-check-input"
                        type="checkbox"
                        name="HighTemperature"
                        id="HighTemperature"
                        value="HighTemperature"
                        <% if(typeof selection != 'undefined') { %>
                            disabled="true"
                          <% } %>
                        <% if(typeof symptoms != 'undefined') { %>
                            disabled="true"
                            <% if(typeof symptoms.HighTemperature != 'undefined') { %>
                                checked="true"
                            <% } %>
                          <% } %>  
                        />
                        <label class="form-check-label" for="HighTemperature">High Temperature</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input
                        class="form-check-input"
                        type="checkbox"
                        name="NightSweats"
                        id="NightSweats"
                        value="NightSweats"
                        <% if(typeof selection != 'undefined') { %>
                            disabled="true"
                          <% } %>
                        <% if(typeof symptoms != 'undefined') { %>
                            disabled="true"
                            <% if(typeof symptoms.NightSweats != 'undefined') { %>
                                checked="true"
                            <% } %>
                          <% } %>  
                        />
                        <label class="form-check-label" for="NightSweats">Night Sweats</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input
                        class="form-check-input"
                        type="checkbox"
                        name="Fatigue"
                        id="Fatigue"
                        value="Fatigue"
                        <% if(typeof selection != 'undefined') { %>
                            disabled="true"
                          <% } %>
                        <% if(typeof symptoms != 'undefined') { %>
                            disabled="true"
                            <% if(typeof symptoms.Fatigue != 'undefined') { %>
                                checked="true"
                            <% } %>
                          <% } %>  
                        />
                        <label class="form-check-label" for="Fatigue">Fatigue</label>
                      </div>
    
                    </div>       
    
                </div>
    
                  <div class="mt-4 pt-2">
                    <% if(typeof Chances == 'undefined') { %>
                      <% if(typeof selection == 'undefined') { %>
                        <button name="Predict" type="submit" class="btn btn-primary btn-lg custom-btn" value="<%= User.UserName %>">Predict</a></button>
                        &nbsp&nbsp
                        <button name="Back" type="button" class="btn btn-primary btn-lg custom-btn" onclick="history.go(-1)">Back to Dashboard</button>
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                      <% } else { %>
                        <button name="Back" type="button" class="btn btn-primary btn-lg custom-btn" onclick="history.go(-2)">Back to Dashboard</button>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                      <% } %>
                    <% } else { %>
                      <button name="Back" type="button" class="btn btn-primary btn-lg custom-btn" onclick="history.go(-2)">Back to Dashboard</button>
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  
                    <% } %>
                  </div>

                  <br><br>
                   <% if(typeof Chances != 'undefined') { %>
                   <div class="predict">
                    <h5 style="color:red;display:inline;">Prediction : </h5>
                    <h5 style="display:inline;">You have a <%= Chances %> percent chance of having Tuberculosis</h5>
                  </div>
                  <% } %>
    
              </form>
              </div>
            </div>
          </div>
        </div>
    </div> 

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>  
</body>
</html>